<% layout('./layouts/boilerplate') -%>

<h1>EDIT POST!</h1>

<form action="/posts/<%= posts.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <div><input type="text" name="title" placeholder="Title" value="<%= posts.title %>"></div>
    <div>
        <input type="file" id="imageUpload" accept="images/*" name="images" multiple>
        <div>
        <% if(images.length && images[0].url) { %>
            <% images.forEach(function(image, i){ %> 
            <div>
                <img src="<%= image.url %>" width="75px">
                <label for="image<%= i %>">Delete?</label>
                <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
            </div>
            <% }) %> 
        <% } %>
        </div>
    </div>    
    <div><textarea type="text" name="description" placeholder="Description"><%= posts.description %></textarea></div>
    
    <input type="submit">
</form>

<script>
    let postEditForm = document.getElementById('postEditForm');
    // add submit listneer to post edit form
    postEditForm.addEventListener('submit', function(event){
        // find length of uploaded images 
        let imageUploads = document.getElementById('imageUpload').files.length;
        // find total number of existing images
        let imgExisting = document.querySelectorAll('.imageDeleteCheckbox').length;
        // find total number of potential deletions
        let imgDeletions = document.querySelectorAll('.imageDeleteCheckbox:checked').length;
        // find total number od potential deletions
        let newTotal = imgExisting - imgDeletions + imageUploads;
        if(newTotal > 4) {
            // event.preventDefault - method that prevents form from submitting 
            event.preventDefault();
            let removalAmt = newTotal - 4;
            alert(`You need to remove at least ${removalAmt} ${removalAmt >= 1 ? 'more' : ''} image${removalAmt === 1 ? '' : 's'}!`);
        }
    });
</script>