<h1>POSTS page</h1>

<% posts.forEach(function(post) { %>
    <div>
        <h2><%= post.title %></h2>
        <div><%= post.description %></div>
        <% images.forEach(function(image) { %>
            <% if(image.post_id === post.id) { %>
                <div>
                    <img src="<%= image.url %>" alt="Post Image" width="200px">
                </div>                            
            <% } %>
        <% }) %>
        <div><%= post.created_date %></div>
        <div><a href="/posts/<%= post.id %>">View More</a></div>
    </div>
<% }); %>